# pandas 데이터 재구조화(reshape)

- 피봇팅(pivoting)
- 스태킹(stacking)과 언스태킹(unstacking)

In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [ ]:
## 피봇팅(pivoting)

- 가지고 있는 데이터원본을 원하는 형태의 가공된 정보를 보여주는 것
    - 자료의 형태를 변경하기 위해 많이 사용하는 방법 
- 엑셀에도 있음. 
- 인덱스, 컬럼, 벨류스가 컬럼으로 있을 때 , 한 컬럼은 인덱스, 한 컬럼은 컬럼, 한 컬럼은 데이터로 
- 특정 기준으로 데이터를 재정렬

In [ ]:
data = {"도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
        "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
        "인구": [9904312, 9631482, 9762546, 3448737, 3393191,
               3512547, 2890451, 263203],
        "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}

#총 8개의 데이터값

columns = ["도시", "연도", "인구", "지역"]

#컬럼 4개 

df1 = pd.DataFrame(data, columns=columns)
df1

In [ ]:
df1.pivot(index='도시', columns='연도', values='인구')
df1 #원본은 그대로

In [1]:
#다중 인덱스 형태
df1.pivot(index=['지역','도시'], columns='연도', values='인구')
#지역 순서가 ㄱㄴㄷ 순인지, 데이터 적은 순인지

NameError: name 'df1' is not defined

In [ ]:
pd.pivot_table(df, index='class', columns='survived', values='age')

In [ ]:
pd.pivot_table(df, index=['class','sex'], columns='survived', 
               values=['age','fare'], aggfunc=['mean','max'])

In [ ]:
pd.pivot_table(df, index=['class','sex'], columns='survived', 
               values=['age','fare'], aggfunc=['mean','min','max'])